@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-background: #171614;
  --color-background-hero: #171614;
  --color-background-about-me: #5a4b47 ;
  --color-background-projects: #7b4f30 ;
  --color-background-contact-me: #5a4b47  ;

  --color-background-footer: #171614;
  --color-background-progress: #171614;

  --color-text: #f4f1ea;
  --color-link: #6B8E23 ;
  --color-link-hover: #cc7a4d ;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-link-hover);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://www.transparenttextures.com/patterns/sandpaper.png");
  background-repeat: repeat;
  background-size: auto; */
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
    max-width: 100%;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.95em;
    line-height: 1.4;
  }
}
