@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-background: #9a8873;
  --color-background-hero: #37423d;
  --color-background-about-me: #37423d;
  --color-background-projects: #755540;
  --color-background-contact-me: #37423d;
  --color-background-footer: #171614;
  --color-background-header: #171614;
  --color-text: #f5f5f5;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #db1818;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://www.transparenttextures.com/patterns/sandpaper.png");
  background-repeat: repeat;
  background-size: auto;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ee0d0d;
  }
  button {
    background-color: #f9f9f9;
  }
} */
